<p>
  apex-charts works!
</p>

<app-apex-charts-area></app-apex-charts-area>
<app-apex-charts-bar></app-apex-charts-bar>
<app-apex-charts-column></app-apex-charts-column>
<app-apex-charts-heatmap></app-apex-charts-heatmap>
<app-apex-charts-integration-four></app-apex-charts-integration-four>
<app-apex-charts-integration-one></app-apex-charts-integration-one>
<app-apex-charts-integration-three></app-apex-charts-integration-three>
<app-apex-charts-integration-two></app-apex-charts-integration-two>
<app-apex-charts-line></app-apex-charts-line>
<app-apex-charts-mixed></app-apex-charts-mixed>
<app-apex-charts-radar></app-apex-charts-radar>
<app-apex-charts-radialbar></app-apex-charts-radialbar>
