//  Variables

$header-height:             78px;
$header-bg:                 rgba($white, .95);
$header-bg-hover:           $white;
$header-shadow:             0 0.313rem 0.75rem rgba(7, 9, 25, 0.05), 0 0.126rem 0.15rem rgba(7,9,25,.03);
