// Variables

$sidebar-bg:                $gray-900;
$sidebar-bg-light:          $white;
$sidebar-header-bg:         transparent;
$sidebar-content-bg:        transparent;
$sidebar-footer-bg:         rgba(0,0,0,.1);
$sidebar-width:             260px;
$navlink-height:            44px;
$navlink-inner-height:      36px;
$sidebar-width-collapsed:   88px;
$sidebar-shadow-light:      0px 0px 28px 0px rgba($primary, 0.08);
